<p>Response from server template! The time is: <strong>{{ .Timestamp }}</strong></p>
<p>Bit sequence:</p>
<pre style="word-wrap: break-word; white-space: pre-wrap;">{{ .BitSequence }}</pre>
<p>Encoded sequence:</p>
<pre style="word-wrap: break-word; white-space: pre-wrap;">{{ .EncodedSequence }}</pre>
<p>Decoded sequence:</p>
<pre style="word-wrap: break-word; white-space: pre-wrap;">{{ .DecodedSequence }}</pre>
<p>BER:</p>
<pre style="word-wrap: break-word; white-space: pre-wrap;">{{ .BER }}</pre>
